//COLORS

//PRIMARY COLORS

$color-white: #fff;
$color-black: #222222;
$color-stylish: #1098ad;
$color-gray: #ced4da;
$color-gray-dull: #dee2e6;
$color-gray-dull2: #e9ecef;
$color-pink: #a61e4d;
$color-pink-light: #f06595;
$color-pink-light2: #fcc2d7;

//SECONDARY COLORS

$color-red: #ff8787;
$color-grape: #e599f7;
$color-grape-dull: #f8f0fc;
$color-indigo: #edf2ff;
$color-cyan: #e3fafc;
$color-cyan-dark: #0b7285;
$color-teal: #087f5b;
$color-orange: #ffd8a8;

//VARIABLES

$text-default: 1.7rem;
$text-sm: 1.2rem;
$text-md: 1.5rem;
$text-lg: 1.9rem;
$text-xl: 2.3rem;
$text-xxl: 2.9rem;
$text-xxxl: 3.6rem;
$text-very-large: 4.5rem;
$text-multilarge: 6rem;

//margin-bottom:

$m-b: 1rem;
$m-b-2: 2rem;
$m-b-4: 4rem;
$m-b-6: 6rem;

//padding:

$p: 1rem;
$p-t: 2rem;
$p-t-2: 4rem;
$p-t-3: 6rem;
