.newtodo {
  width: 50%;
  margin: 5rem auto;
  height: 100%;
  background-color: rgb(1, 89, 141);
  padding: 2rem;
  position: relative;
  border-radius: 1.1rem;
  transition: all 2s ease-in;
  &_content {
    width: 100%;
    margin: 0rem auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    // gap: 1rem;

    &_label {
      font-size: 2.7rem;
      display: block;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 1rem;
      font-family: 'Times New Roman', Times, serif;
    }
    &_input {
      width: 80%;
      height: 5rem;
      margin-bottom: 5rem;
      border: none;
      background-color: #e0dfdf;
      font-size: 2rem;
      text-transform: capitalize;
      color: #222222;
      padding: 1rem;
    }
  }

  &_btn {
    // position: fixed;
    position: absolute;
    right: 2rem;
    width: 100%;
    // height: 100%;
    bottom: 1rem;
    padding: 1rem;

    border: none;
    background-color: #1098ad;
    font-size: 2rem;
    color: #fff;
    padding: 1rem 2rem;
    width: 20%;
    font-family: 'Times New Roman', Times, serif;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: black;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
