* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
}
