.footer {
  margin: 0 auto;
  width: 100%;
  background-color: $color-black;
  height: 10rem;
  color: $color-cyan;
  display: grid;
  place-items: center;

  &_text {
    font-size: $text-lg;
  }

  &_span {
    color: $color-red;
    font-style: italic;
    letter-spacing: 3px;
  }
}
