.product_images {
  width: 100%;
  margin: 0 auto;
  &_img {
    width: 100%;
    padding: 1rem;
    width: 60rem;
    height: 40rem;
    object-fit: fill;
  }

  &_gallery {
    width: 100%;

    display: flex;
    gap: 1rem;
    &_img {
      width: 11rem;
      height: 10rem;
      border-radius: 1.2rem;
      cursor: pointer;
    }
  }
}

.activeimg {
  border: 4px solid $color-red;
}
